

/* ============== common css ============== */

::-webkit-scrollbar{
    width: 0;
}
.btn{
    background: #00bc13;
    color: #ffffff;
    transition: .5s;
}
.btn:hover{
    background: #019c10;
    color: #ffffff;
}
.frist_color{
    color: #00bc13;
}
body{
   background: #ededed; 
}

/*========== Header style ============*/
header{
    background: #ffffff;
    
}



/* -------------Navigation style----------- */
.nav-link{
    color: #808080;
    font-weight: 500;
    position: relative;
}
.nav-link.active,.nav-link:hover{
    color: #1d1d1d;
}

@media (min-width:990px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left:50%;
        width: 0;
        transform: translateX(-50%);
        transition: .3s ease-in-out;
        visibility:hidden;
        height: 2px;
        background-color: #00bc13;
    
    }
    .nav-link:hover::before,.nav-link.active::before{
        width: 100%;
        visibility:visible;
    }
    
}

.navbar-toggler{
    border: none;
}
.navbar-toggler:focus,.btn-close:focus{
    box-shadow: none;
    outline: none;
    
}

/*
========================================         
            Banner style 
========================================
*/

.banner{
    margin-top: 100px;
    position: relative;
}

.banner_img{
    width: 100%;
    border-radius: 10px;
}
.banner_text{ 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    background: rgba(250, 250, 250, 0.6);
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
}
.banner_text h1{
    font-size: 25px;
    font-weight: 700;
}
.banner_text p{
    font-weight:500;
}
.banner_text span{
    color: #00bc13;
}
/*
========================================         
            slider style 
========================================

*/
.inner_slider{
    background: #ffffff;
    
}
.slider_heading{
    position: relative;
}
.slider_heading::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 4px;
    background-color: #00bc13;
}
#owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }

/*
========================================         
            strength style 
========================================
*/

.inner_strength{
    background: url(img/strength_bg.jpg) center;
    border-radius: 5px;
    position: relative;
    z-index: -3;
}
.inner_strength::before{
    position: absolute;
    content: "";
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 148, 148, 0.4);
    z-index: -1;
}
.strength_text{
    z-index: 10;
    color: white;
}
.strength_heading{
    position: relative;
}
.strength_heading::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 4px;
    background-color: #00bc13;
}

/*
========================================         
            top sell product style 
========================================
*/
.top_selling_products .card {
    max-width: 450px;
    width: 100%;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.top_selling_products .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.top_selling_products .content {
    padding: 20px;
}


/*
========================================         
            Footer style 
========================================
*/

.footer_heading{
    background: #00bc13;
}

.f_link{
    text-decoration: none;
    display:block;
    cursor: pointer;
}
  
.f_text{
    color: #1d1d1d;
    font-weight: 500;
}

/*
========================================         
            Top products style 
========================================
*/

.top_product_heading h3{
    position: relative;
}
.top_product_heading h3::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 4px;
    background-color: #00bc13;
}
    


